$background: #161616;
$light-background: lighten($background, 90%);
$text-color: #eee;
$light-text: darken($text-color, 80%);
$font-family: 'Roboto', sans-serif;
$accent-p: #ee652f;
$accent-hover: darken($accent-p, 10%);