button {
    background-color: var(--accent-p);
    color: white;
    outline: none;
    border: 2px solid var(--text-color);
    box-shadow: 2px 3px 0px var(--text-color);
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--accent-hover);
    box-shadow: none;
}

