@import "./_variables.scss";

.container {
    border: 3px solid var(--text-color);
    padding: 2rem;
    position: relative;
    background-color: var(--background);
    max-width: 600px;
    margin: 0 auto;
    @media(max-width: 768px){
        margin-top: 2rem;
    }
}

.container-header {
    position: absolute;
    top: -15px;
    left: 32px;
    width: max-content;
    background-color: var(--background);
    padding: 0 1rem;
    text-transform: uppercase;
}

.info-box {
    border: 3px dashed var(--text-color);
    padding: 1rem;
    margin: 1rem;
    background-color: var(--background);
    text-align: center;
}