.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.flex-start{
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}