.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}
.p-5 {
    padding: 5rem;
}
.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}

.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.m-4 {
    margin: 4rem;
}
.m-5 {
    margin: 5rem;
}

.mr-3 {
    margin-right: 3rem;
}

.w-100 {
    width: 100%;
}
